.navbar{
    background-color: rgb(176, 41, 209);
    color: white;
}

.navbar-nav a{
 color: #ffffff;
}

.navbar-nav a:hover{
    background-color: white;
    border-radius: 20px;
}

.navbar-nav a:hover{
    background-color: white;
    border-radius: 10px;
}
